<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057662416151-ucq560kpcjs7225v11upj1d2imsf1gns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057662416151-ucq560kpcjs7225v11upj1d2imsf1gns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057662416151-lddt6vjrkc73qb7uasu1uhda2t0v0nm8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4n2wGis8D68TQsv0aA7JIQwk2aLdJMk</string>
	<key>GCM_SENDER_ID</key>
	<string>1057662416151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dulno.app</string>
	<key>PROJECT_ID</key>
	<string>dulno-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>dulno-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057662416151:ios:a461999e687dcf46897352</string>
</dict>
</plist>